# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
# db.sqlite3  <-- Commented out to allow committing the database as requested
media/
staticfiles/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
