Django>=5.0.0
gunicorn
whitenoise
dj-database-url
psycopg2-binary
Pillow
numpy
pandas
scikit-learn
requests
mysqlclient
openai
python-dotenv
cloudinary
django-cloudinary-storage
spacy
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
